<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">    
    <select name="" id=""  v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="橘子">橘子</option>
      <option value="香蕉">香蕉</option>
      <option value="榴莲">榴莲</option>
    </select>
    <select name="" id=""  v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="橘子">橘子</option>
      <option value="香蕉">香蕉</option>
      <option value="榴莲">榴莲</option>
    </select>
<h2>{{fruit}}</h2>
<h2>{{fruits}}</h2>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        massage: '你好',
        fruit:'香蕉',
        fruits:[]

      }    
             
    })
  </script>
</body>

</html>