body {
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
}

table {
  table-layout: auto;
  /* border: 1px solid #e9e9e9; */
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 2px 2px 0 0;


}

th,
td {
  padding: 16px;
  /* border: 1px solid #e9e9e9; */
  text-align: left;
}

td {
  border-bottom: 1px solid #f0f0f0;
}

th {
  background-color: #f7f7f7;
  color: #5c6b77;
  font-weight: 600;

}

tr:hover {
  background-color: #f7f7f7;
}


button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, .85);
  background: #fff;
  border: 1px solid #d9d9d9;
}